/* You can add global styles to this file, and also import other style files */
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

#chart {
  height: inherit;
  width: inherit;

  .bar {
    fill: green;
  }

  .page_view {
    fill: yellow;
  }

  .axis--x path {
    display: none;
  }
}